@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate
@import java.time.format.{DateTimeFormatter, ResolverStyle}
@import play.api.i18n.Messages

@(stringDate: String, showYear: Boolean = true, useShortMonthFormat: Boolean = false)(implicit messages: MessagesApi) @{

    val pattern = DateTimeFormatter.ofPattern("yyyyMMdd")
    val date = LocalDate.parse(stringDate,pattern)

    val format = (if(useShortMonthFormat) "d MMM" else "d MMMM") + (if(showYear) " uuuu" else "")

    val formatter = DateTimeFormatter.ofPattern(format).withResolverStyle(ResolverStyle.STRICT)
    date.format(formatter)
}