@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@(accountName: String, sortCode: String, accountNumber: String)(implicit messages: MessagesApi)

<div class="grid-row">
    <div class="column-full">
        <p>@messages("bankDetailsApproved.p1")</p>
        <p>
          <span class="bold-small">@messages("bankDetailsApproved.p2")</span> @accountName<br>
          <span class="bold-small">@messages("bankDetailsApproved.p3")</span> @sortCode<br>
          <span class="bold-small">@messages("bankDetailsApproved.p4")</span> @accountNumber
        </p>
    </div>
</div>
