@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@()(implicit messages: MessagesApi)

<div class="grid-row">
  <div class="column-full">

    <p>@messages("contactNumbersRejected.p1")</p>

    <h2 class="heading-small">@messages("common.whatHappensNext")</h2>

    <p>@messages("common.standardReject")</p>
    <p>
      @messages("common.hmrcAddressLine1")<br>
      @messages("common.hmrcAddressLine2")<br>
      @messages("common.hmrcAddressLine3")<br>
      @messages("common.hmrcAddressLine4")<br>
      @messages("common.hmrcAddressPostcode")
    </p>
  </div>
</div>
