@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.AppConfig

@(vrn: String)(implicit messages: MessagesApi, appConfig: AppConfig)

<div class="grid-row">
    <div class="column-full">
        <p>@messages("optOutApproved.p1")</p>
        <p>@messages("optOutApproved.represented.p2")</p>
        <p>@messages("optOutApproved.p3a")
            <a href="@appConfig.vatSummaryUrl">@messages("optOutApproved.p3b")</a>@messages("optOutApproved.p3c")
        </p>
        <p>
            @messages("optOutApproved.represented.p4a")
            <a href="@appConfig.mtdSignUpUrl(vrn)">
                @messages("optOutApproved.p4b")
            </a>
            @messages("optOutApproved.p4c")
        </p>
    </div>
</div>
