@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.AppConfig

@()(implicit messages: MessagesApi, appConfig: AppConfig)

<div class="grid-row">
    <div class="column-full">
        <p>@messages("ppobRejected.p1")</p>
        <ul class="list list-bullet">
            <li>@messages("ppobRejected.bullet1")</li>
            <li>@messages("ppobRejected.bullet2")</li>
            <li>@messages("ppobRejected.bullet3")</li>
        </ul>
        <h2 class="heading-small">@messages("common.whatHappensNext")</h2>
        <p>
          <a href="@appConfig.manageVatSubscriptionUrl">@messages("ppobRejected.link")</a> @messages("ppobRejected.p2")
        </p>
        <p>@messages("common.standardReject")</p>
        <p>
            @messages("common.hmrcAddressLine1")<br>
            @messages("common.hmrcAddressLine2")<br>
            @messages("common.hmrcAddressLine3")<br>
            @messages("common.hmrcAddressLine4")<br>
            @messages("common.hmrcAddressPostcode")
        </p>
    </div>
</div>
