@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import models.viewModels.VatPPOBViewModel

@(model: VatPPOBViewModel)(implicit messages: MessagesApi)

<div class="grid-row">
    <div class="column-full">
        <p>@messages("ppobApproved.p1")</p>
        <p>
          @model.addressLine1<br>
          @model.addressLine2
            @model.addressLine3.map { line =>
              <br>@line
            }
            @model.addressLine4.map { line =>
              <br>@line
            }
            @model.addressLine5.map { line =>
              <br>@line
            }
            @model.postcode.map { line =>
              <br>@line
            }
            @model.country.map { line =>
              <br>@line
            }
        </p>
    </div>
</div>
