@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@(isTransactor: Boolean, website: Option[String])(implicit messages: MessagesApi, appConfig: config.AppConfig)

<div class="grid-row">
  <div class="column-full">
    @website match {

      case None => {
        <p>
          @if(isTransactor) {
            @messages("websiteApproved.remove.p1a.agent")
          } else {
            @messages("websiteApproved.remove.p1a")
          }
          <a href="@appConfig.manageVatSubscriptionUrl">@messages("websiteApproved.remove.p1b")</a>
          @messages("websiteApproved.remove.p1c")
        </p>
      }

      case Some(webAddress) => {
        <p>
          @messages("websiteApproved.change.p1")<br>
          @webAddress
        </p>
      }
    }
  </div>
</div>